* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 312px;
  &.small {
    padding-top: 256px;
  }
}

.holder {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;

  header,
  header *,
  & > .menu-wrapper .main-menu,
  & > .menu-wrapper .main-menu > ul > li > a {
    transition: all 0.3s 0s;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
  content: '';
  display: block;
}

.w50p {
  width: 50% !important;
}

.w100p {
  width: 100% !important;
}

.h100p {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.heading-1 {
  font-weight: 800;
  font-size: 2.2rem;
}

html {
  font-size: 14px;
  font-family: 'Montserrat';
}

body {
  background-color: $body-bg-color;
}

.input {
  height: 42px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: $dark-green-color;
  padding: 0 20px;
}

.btn {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  height: 42px;
  cursor: pointer;
}

::placeholder {
  color: $dark-green-color;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;

  .sitebar {
    width: 270px;
  }

  .content {
    width: 900px;
  }
}

.notification {
  text-align: center;
  color: $dark-green-color;
  height: 44px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.92rem;
  box-shadow: rgb(153, 153, 153) 0px 2px 5px 0px;
  position: relative;
  background-color: $gray-color;

  i {
    font-weight: bold;
    text-decoration: italic;
  }

  .close {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    text-transform: none;
    font-size: 0.7rem;

    span {
      color: #3a3a3a;
      margin-right: 5px;
    }
  }
}
