<footer>
  <div class="wrapper">
    <div class="columns">
      <div class="column">
      </div>
    </div>
    <br/>
    <div class="write-us clear">
      <div class="left text">Keine Neuigkeiten & Angebote  von Tealiko verpassen, jetzt <span>kostenlos anmelden</span>:</div>
      <div class="email-form clear right">
        <input type="text" class="left input email" placeholder="Ihre E-Mail Adresse..." />
        <button type="button" class="left btn">anmelden!</button>
      </div>
    </div>
  </div>
</footer>
