<header class="w100p">
  <div class="wrapper h100p clear">
    <div class="logo-wrapper left">
      <a class="logo" href="#">
        <img src="img/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="content-wrapper left">
    </div>
  </div>
</header>
