<div class="payment-steps clear">
  <div class="step active">
    1. Übersicht
  </div>
  <div class="step">
    2. Anmelden
  </div>
  <div class="step">
    3. Zahlungsart
  </div>
  <div class="step">
    4. Versand
  </div>
</div>
