<ul class="menu categories">
  <li class="menu-item icon-menu">
    <span>Kategorie Wählen...</span>
  </li>
  <li class="menu-item icon-new">
    <a href="#">Neue Produkte</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
  <li class="menu-item icon-percent">
    <a href="#">Angebote</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Tee</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Kaffee</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Geschenke</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Raritäten</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Wellness</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Zubehör</a>
    <ul class="submenu">
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Kategorie Unterlink</a>
      </li>
      <li class="submenu-item">
        <a href="#">- Unterlink der Kategorie</a>
      </li>
    </ul>
  </li>
</ul>
