<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  <head>

  <body>
    <div class="holder">
      {{> notification }}
      {{> header }}
      {{> menu }}
    </div>
    <main>
      <section>
        <div class="wrapper product clear">
          <nav class="sitebar left">
            <ul class="menu">
              <li class="menu-item icon-play">
                <a href="#">Schwarztee</a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="#">- Schwarz -aromatisiert-</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Schwarz -entkoffeiniert-</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Darjeeling</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Assam</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Ceylon</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- China</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Andere Länder & Gebiete</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Ostfriesen & Blatt-Mischung</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item icon-play">
                <a href="#">Schwarztee</a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="#">- Schwarz -aromatisiert-</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Schwarz -entkoffeiniert-</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Darjeeling</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Assam</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Ceylon</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- China</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Andere Länder & Gebiete</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">- Ostfriesen & Blatt-Mischung</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="tags text">
              <div class="tag">
                <a href="#">Tag Name Xyz</a>
              </div>
              <div class="tag">
                <a href="#">Tag Name Xyz</a>
              </div>
              <div class="tag">
                <a href="#">Tag Cloud- Name</a>
              </div>
              <div class="tag">
                <a href="#">Tag Name</a>
              </div>
              <div class="tag">
                <a href="#">Tag Name Xyz 12</a>
              </div>
              <div class="tag">
                <a href="#">Tag Name XX</a>
              </div>
              <div class="tag">
                <a href="#">Tag Name Xyz</a>
              </div>
              <div class="tag">
                <a href="#">Tag Name Xyz</a>
              </div>
              <div class="tag">
                <a href="#">Tag Cloud- Name</a>
              </div>
              <div class="tag">
                <a href="#">Tag Name 12</a>
              </div>
            </div>
          </nav>
          <div class="content right">
            <div class="heading-1">Lemon-Sizilia</div>

            <div id="home-slider-2" data-slides-per-view="3" class="swiper-container featured-products">
              <div class="title text-center">
                Produkte die Ihnen auch gefallen könnten:
              </div>
              <div class="products swiper-wrapper">
                <div class="product swiper-slide">
                  <span class="label bg-brown">-5<i class="fa fa-euro"></i></span>
                  <img src="img/homepage/new-products/product-01.jpg" class="picture" alt="" />
                  <div class="category">Bio Produkte</div>
                  <div class="title">Produktname Xyz</div>
                  <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                  </div>
                  <div class="price-wrapper">
                    <span class="new">1.45 <i class="fa fa-euro"></i></span> inkl. MwSt.<span class="old">20.00 <i class="fa fa-euro"></i></span>
                  </div>
                </div>
                <div class="product swiper-slide">
                  <span class="label">NEU</span>
                  <img src="img/homepage/new-products/product-02.jpg" class="picture" alt="" />
                  <div class="category">Bio Produkte</div>
                  <div class="title">Produktname Xyz</div>
                  <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                  </div>
                  <div class="price-wrapper">
                    <span class="new">22.95 <i class="fa fa-euro"></i></span> inkl. MwSt.<span class="old">20.00 <i class="fa fa-euro"></i></span>
                  </div>
                </div>
                <div class="product swiper-slide">
                  <img src="img/homepage/new-products/product-03.jpg" class="picture" alt="" />
                  <div class="category">Bio Produkte</div>
                  <div class="title">Produktname Xyz</div>
                  <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                  </div>
                  <div class="price-wrapper">
                    <span class="new">8.99 <i class="fa fa-euro"></i></span> inkl. MwSt.
                  </div>
                </div>
                <div class="product swiper-slide">
                  <img src="img/homepage/new-products/product-04.jpg" class="picture" alt="" />
                  <div class="category">Bio Produkte</div>
                  <div class="title">Produktname Xyz</div>
                  <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                  </div>
                  <div class="price-wrapper">
                    <span class="new">12.99 <i class="fa fa-euro"></i></span> inkl. MwSt.
                  </div>
                </div>
                <div class="product swiper-slide">
                  <span class="label">NEU</span>
                  <img src="img/homepage/new-products/product-01.jpg" class="picture" alt="" />
                  <div class="category">Bio Produkte</div>
                  <div class="title">Produktname Xyz</div>
                  <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                  </div>
                  <div class="price-wrapper">
                    <span class="new">1.45 <i class="fa fa-euro"></i></span> inkl. MwSt.<span class="old">20.00 <i class="fa fa-euro"></i></span>
                  </div>
                </div>
              </div>
              <div class="navigate button-prev fa fa-angle-left"></div>
              <div class="navigate button-next fa fa-angle-right"></div>
            </div>

          </div>
        </div>
      </section>

      <section>
        {{> advertising-services }}
      </section>

    </main>

    {{> footer }}
    {{> copyright }}
  </body>
</html>
